body {
  font-family: "Satisfy", cursive;
  font-weight: 500;
  font-style: normal;
}

.search-bar {
  background-color: white;
  padding: 20px;
}

.search-bar form {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.search-bar form input {
  border: 0.05px solid rgb(83, 82, 82);
  background-color: white;
  height: 2rem;
  margin: 0.75rem 0;
  font-size: 18px;
  padding-left: 10px;
}

.search-bar form input:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px hsla(220, 63%, 67%, 0.8);
}

